#myCanvas{
    background-color:lightgray;
}

#connect4Title {
    background-color:black;
    color: white;
    text-align: center;
    width:440px;
}

#buttonHolder{
    margin-left:19px;
}

.columnButton{
    margin-left:28px;
}

#instructions{
    text-align: center;
    width:440px;
}

#turn{
    background-color: black;
    text-align: center;
    width: 440px;
    color:red;
}

#resetButton {
    display:none;
    width: 440px;
    height: 30px;
}

